#html,body{
    height:100%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .form-container{
    width:50%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.register-form{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(73, 73, 73, 0.066);
    padding: 25px;
    width: 35%;
    text-align: center;
    margin: auto;
}
.app-title{
    color: rgb(32, 142, 135);
    margin: 5px;
}

.form-subtitle{
    color: rgb(18, 99, 72);
    margin: 4px;
}
.error-box{
background-color: brown;
color: white;
padding: 10px;
border-radius: 5px;
text-align: center;
font-weight: bold;
margin-bottom: 12px;
}
.form-group{
margin-bottom: 12px;
}
.form-control{
margin: 10px;
width: 100%;
border: 1px solid grey;
padding:12px;
box-sizing: border-box;
}
.error-msg{
    color: red;
    font-size: 13px;
    text-align: left;
    margin: 5px 0 0;
}

.form-control:focus{
    border-color: aquamarine;
    box-shadow: 0 0 0 2px rgb(64, 95, 100);
    outline: none;
}
.login-btn{
width: 100%;
background-color: aqua;
color: black;
font-weight: bold;
font-size: 16px;
padding: 12px;
border-radius: 2px;
cursor: pointer;
}
.login-btn:hover{
    background-color: rgb(138, 209, 209);
}
.signup-link{
margin-top: 20px;
font-size: 14px;
color: rgb(90, 88, 88);
}
.signup-text{
color: aqua;
margin-top: 20px;
font-size: 14px;
}