
<app-nav></app-nav>
<div>
    <h2>Manage Books</h2>
    <form (ngSubmit)="addBook()">
      <input type="text" [(ngModel)]="newBook.title" name="title" placeholder="Title" required>
      <input type="text" [(ngModel)]="newBook.author" name="author" placeholder="Author" required>
      <input type="text" [(ngModel)]="newBook.isbn" name="isbn" placeholder="ISBN" required>
      <button type="submit">Add Book</button>
    </form>
  
    <h2>Book List</h2>
    <ul>
      <li *ngFor="let book of books">
        {{ book.title }} - {{ book.author }} ({{ book.isbn }}) -
        <button (click)="editBook(book)">Edit</button>
        <button (click)="deleteBook(book.isbn)">Delete</button>
      </li>
    </ul>
  
    <div *ngIf="selectedBook">
      <h2>Edit Book</h2>
      <form (ngSubmit)="updateBook()">
        <input type="text" [(ngModel)]="selectedBook.title" name="title" required>
        <input type="text" [(ngModel)]="selectedBook.author" name="author" required>
        <input type="text" [(ngModel)]="selectedBook.isbn" name="isbn" required readonly>
        <button type="submit">Update Book</button>
      </form>
    </div>
  </div>